.App {
  display:flex;
  flex-direction:row;
  margin-left:200px;
  margin-right:200px;
  margin-top:20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============= Custom by user =============== */

@font-face {
  font-family: Quark;
  src: url(./assets/Quark-Bold.otf);
}
@font-face {
  font-family: FontAwesome;
  src: url(./assets/FontAwesome.otf);
}

.personal-profile-image{
  width:200px;
  height:200px;
}

@media(max-width: 768px){
  .App{
  display:flex;
  flex-direction: column;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  }
}

.left-section{
  width: 40%;
}

.right-section{
  width: 60%;
  background-color: #d2e9ff;
}

.left-title{
  font-size: 1em;
  font-family: 'Quark';
  padding: 2px;
}

.left-desciption{
  font-size: 0.75em;
  padding-bottom: 3px;
  border-style: solid;
  border-color: #61dafb;
  border-width:1.5px;
}

.title{
  font-size: 1em;
  font-family: 'Quark';
  padding: 2px;
  background-color: rgba(0, 0, 255, 0.2);
}

.right-description{
  padding-bottom: 5px;
}

.title:before{
  font-family: 'FontAwesome';
  padding-right: 0.5em;
  content: ">>";
}

.profile{
  margin: auto 0;
  float: auto;
  display:flex;
}

