.App {
  display:flex;
  flex-direction:row;
  margin-left:200px;
  margin-right:200px;
  margin-top:20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============= Custom by user =============== */

@font-face {
  font-family: Quark;
  src: url(./assets/Quark-Bold.otf);
}

.header{
  position: flex;
  flex-direction:row;
}

.list{
  position: flex;
  flex-direction:row;
}

.Listitem{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ECF7FF;
}

